config.lua
big-num/omeganum.exe
big-num/omeganum.ilk
big-num/omeganum.obj
big-num/omeganum.pdb
big-num/vc140.pdb
talisman.lua
builddll.bat
big-num/src/xedkbuild.bat
big-num/src/xb1build.bat
big-num/src/vm_x86.dasc
big-num/src/vm_x64.dasc
big-num/src/vm_ppc.dasc
big-num/src/vm_mips64.dasc
big-num/src/vm_mips.dasc
big-num/src/vm_arm64.dasc
big-num/src/vm_arm.dasc
big-num/src/vc140.pdb
big-num/src/psvitabuild.bat
big-num/src/ps5build.bat
big-num/src/ps4build.bat
big-num/src/nxbuild.bat
big-num/src/msvcbuild.bat
big-num/src/minilua.lib
big-num/src/minilua.exp
big-num/src/Makefile.dep
big-num/src/Makefile
big-num/src/lualib.h
big-num/src/luajit_rolling.h
big-num/src/luajit.pdb
big-num/src/luajit.lib
big-num/src/luajit.exp
big-num/src/luajit.exe
big-num/src/luajit.c
big-num/src/luaconf.h
big-num/src/lua51.pdb
big-num/src/lua51.lib
big-num/src/lua51.exp
big-num/src/lua51.dll
big-num/src/lua.txt
big-num/src/lua.hpp
big-num/src/lua.h
big-num/src/ljamalg.c
big-num/src/lj_vmmath.c
big-num/src/lj_vmevent.h
big-num/src/lj_vmevent.c
big-num/src/lj_vm.h
big-num/src/lj_udata.h
big-num/src/lj_udata.c
big-num/src/lj_traceerr.h
big-num/src/lj_trace.h
big-num/src/lj_trace.c
big-num/src/lj_target_x86.h
big-num/src/lj_target_ppc.h
big-num/src/lj_target_mips.h
big-num/src/lj_target_arm64.h
big-num/src/lj_target_arm.h
big-num/src/lj_target.h
big-num/src/lj_tab.h
big-num/src/lj_tab.c
big-num/src/lj_strscan.h
big-num/src/lj_strscan.c
big-num/src/lj_strfmt_num.c
big-num/src/lj_strfmt.h
big-num/src/lj_strfmt.c
big-num/src/lj_str.h
big-num/src/lj_str.c
big-num/src/lj_state.h
big-num/src/lj_state.c
big-num/src/lj_snap.h
big-num/src/lj_snap.c
big-num/src/lj_serialize.h
big-num/src/lj_serialize.c
big-num/src/lj_record.h
big-num/src/lj_record.c
big-num/src/lj_profile.h
big-num/src/lj_profile.c
big-num/src/lj_prng.h
big-num/src/lj_prng.c
big-num/src/lj_parse.h
big-num/src/lj_parse.c
big-num/src/lj_opt_split.c
big-num/src/lj_opt_sink.c
big-num/src/lj_opt_narrow.c
big-num/src/lj_opt_mem.c
big-num/src/lj_opt_loop.c
big-num/src/lj_opt_fold.c
big-num/src/lj_opt_dce.c
big-num/src/lj_obj.h
big-num/src/lj_obj.c
big-num/src/lj_meta.h
big-num/src/lj_meta.c
big-num/src/lj_mcode.h
big-num/src/lj_mcode.c
big-num/src/lj_load.c
big-num/src/lj_lib.h
big-num/src/lj_lib.c
big-num/src/lj_lex.h
big-num/src/lj_lex.c
big-num/src/lj_jit.h
big-num/src/lj_iropt.h
big-num/src/lj_ircall.h
big-num/src/lj_ir.h
big-num/src/lj_ir.c
big-num/src/lj_gdbjit.h
big-num/src/lj_gdbjit.c
big-num/src/lj_gc.h
big-num/src/lj_gc.c
big-num/src/lj_func.h
big-num/src/lj_func.c
big-num/src/lj_frame.h
big-num/src/lj_ffrecord.h
big-num/src/lj_ffrecord.c
big-num/src/lj_ff.h
big-num/src/lj_errmsg.h
big-num/src/lj_err.h
big-num/src/lj_err.c
big-num/src/lj_emit_x86.h
big-num/src/lj_emit_ppc.h
big-num/src/lj_emit_mips.h
big-num/src/lj_emit_arm64.h
big-num/src/lj_emit_arm.h
big-num/src/lj_dispatch.h
big-num/src/lj_dispatch.c
big-num/src/lj_def.h
big-num/src/lj_debug.h
big-num/src/lj_debug.c
big-num/src/lj_ctype.h
big-num/src/lj_ctype.c
big-num/src/lj_crecord.h
big-num/src/lj_crecord.c
big-num/src/lj_cparse.h
big-num/src/lj_cparse.c
big-num/src/lj_clib.h
big-num/src/lj_clib.c
big-num/src/lj_char.h
big-num/src/lj_char.c
big-num/src/lj_cdata.h
big-num/src/lj_cdata.c
big-num/src/lj_cconv.h
big-num/src/lj_cconv.c
big-num/src/lj_ccallback.h
big-num/src/lj_ccallback.c
big-num/src/lj_ccall.h
big-num/src/lj_ccall.c
big-num/src/lj_carith.h
big-num/src/lj_carith.c
big-num/src/lj_buf.h
big-num/src/lj_buf.c
big-num/src/lj_bcwrite.c
big-num/src/lj_bcread.c
big-num/src/lj_bcdump.h
big-num/src/lj_bc.h
big-num/src/lj_bc.c
big-num/src/lj_assert.c
big-num/src/lj_asm_x86.h
big-num/src/lj_asm_ppc.h
big-num/src/lj_asm_mips.h
big-num/src/lj_asm_arm64.h
big-num/src/lj_asm_arm.h
big-num/src/lj_asm.h
big-num/src/lj_asm.c
big-num/src/lj_arch.h
big-num/src/lj_api.c
big-num/src/lj_alloc.h
big-num/src/lj_alloc.c
big-num/src/lib_table.c
big-num/src/lib_string.c
big-num/src/lib_package.c
big-num/src/lib_os.c
big-num/src/lib_math.c
big-num/src/lib_jit.c
big-num/src/lib_io.c
big-num/src/lib_init.c
big-num/src/lib_ffi.c
big-num/src/lib_debug.c
big-num/src/lib_buffer.c
big-num/src/lib_bit.c
big-num/src/lib_base.c
big-num/src/lib_aux.c
big-num/src/lauxlib.h
big-num/src/jit/zone.lua
big-num/src/jit/v.lua
big-num/src/jit/p.lua
big-num/src/jit/dump.lua
big-num/src/jit/dis_x86.lua
big-num/src/jit/dis_x64.lua
big-num/src/jit/dis_ppc.lua
big-num/src/jit/dis_mipsel.lua
big-num/src/jit/dis_mips64r6el.lua
big-num/src/jit/dis_mips64r6.lua
big-num/src/jit/dis_mips64el.lua
big-num/src/jit/dis_mips64.lua
big-num/src/jit/dis_mips.lua
big-num/src/jit/dis_arm64be.lua
big-num/src/jit/dis_arm64.lua
big-num/src/jit/dis_arm.lua
big-num/src/jit/bcsave.lua
big-num/src/jit/bc.lua
big-num/src/host/README
big-num/src/host/minilua.c
big-num/src/host/genversion.lua
big-num/src/host/genminilua.lua
big-num/src/host/genlibbc.lua
big-num/src/host/buildvm_peobj.c
big-num/src/host/buildvm_libbc.h
big-num/src/host/buildvm_lib.c
big-num/src/host/buildvm_fold.c
big-num/src/host/buildvm_asm.c
big-num/src/host/buildvm.h
big-num/src/host/buildvm.c
big-num/src/buildvm.lib
big-num/src/buildvm.exp
big-num/sln/Omeganum/x64/Release/Omeganum.pdb
big-num/sln/Omeganum/x64/Release/Omeganum.lib
big-num/sln/Omeganum/x64/Release/Omeganum.dll
big-num/sln/Omeganum/Release/Omeganum.pdb
big-num/sln/Omeganum/Release/Omeganum.lib
big-num/sln/Omeganum/Release/Omeganum.exp
big-num/sln/Omeganum/Release/Omeganum.exe
big-num/sln/Omeganum/Release/Omeganum.dll
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink.write.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink.read.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink.command.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.write.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.9.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.8.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.7.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.6.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.5.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.4.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.3.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.2.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.14.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.13.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.12.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.11.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.10.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.read.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-lld-link.delete.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/xilink-clang.read.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/Omeganum.lastbuildstate
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl.write.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl.read.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl.command.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl-clang-cl.write.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl-clang-cl.read.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/icx-cl-clang-cl.delete.1.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.tlog/Cl.items.tlog
big-num/sln/Omeganum/Omeganum/x64/Release/OmegaNum.obj
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.log
big-num/sln/Omeganum/Omeganum/x64/Release/Omeganum.dll.recipe
big-num/sln/Omeganum/Omeganum/x64/Debug/Omeganum.pdb
big-num/sln/Omeganum/Omeganum/x64/Debug/Omeganum.exe
big-num/sln/Omeganum/Omeganum/Release/vc143.pdb
big-num/sln/Omeganum/Omeganum/Release/Omeganum.vcxproj.FileListAbsolute.txt
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/Omeganum.lastbuildstate
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/link.write.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/link.secondary.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/link.read.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/link.command.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/CL.write.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/CL.read.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/Cl.items.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.tlog/CL.command.1.tlog
big-num/sln/Omeganum/Omeganum/Release/Omeganum.pdb
big-num/sln/Omeganum/Omeganum/Release/OmegaNum.obj
big-num/sln/Omeganum/Omeganum/Release/Omeganum.log
big-num/sln/Omeganum/Omeganum/Release/Omeganum.lib
big-num/sln/Omeganum/Omeganum/Release/Omeganum.ipdb
big-num/sln/Omeganum/Omeganum/Release/Omeganum.iobj
big-num/sln/Omeganum/Omeganum/Release/Omeganum.exp
big-num/sln/Omeganum/Omeganum/Release/Omeganum.exe.recipe
big-num/sln/Omeganum/Omeganum/Release/Omeganum.dll.recipe
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/vc143.pdb
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/vc143.idb
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/Omeganum.lastbuildstate
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/link.write.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/link.secondary.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/link.read.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/link.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/CL.write.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/CL.read.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/Cl.items.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.tlog/CL.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/OmegaNum.obj
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.log
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.ilk
big-num/sln/Omeganum/Omeganum/Omeganum/x64/Debug/Omeganum.exe.recipe
big-num/sln/Omeganum/Omeganum/Omeganum/Release/vc143.pdb
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/unsuccessfulbuild
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/Omeganum.lastbuildstate
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/link.write.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/link.secondary.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/link.read.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/link.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/Cl.items.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.tlog/CL.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.log
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.ipdb
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.iobj
big-num/sln/Omeganum/Omeganum/Omeganum/Release/Omeganum.dll.recipe
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/vc143.pdb
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/vc143.idb
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/Omeganum.lastbuildstate
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/link.write.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/link.secondary.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/link.read.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/link.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/CL.write.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/CL.read.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/Cl.items.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.tlog/CL.command.1.tlog
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/OmegaNum.obj
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.log
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.ilk
big-num/sln/Omeganum/Omeganum/Omeganum/Debug/Omeganum.exe.recipe
big-num/sln/Omeganum/Omeganum/Omeganum.vcxproj.user
big-num/sln/Omeganum/Omeganum/Omeganum.vcxproj.filters
big-num/sln/Omeganum/Omeganum/Omeganum.vcxproj
big-num/sln/Omeganum/Omeganum/OmegaNum.h
big-num/sln/Omeganum/Omeganum/OmegaNum.c
big-num/sln/Omeganum/Omeganum/Debug/Omeganum.pdb
big-num/sln/Omeganum/Omeganum/Debug/Omeganum.exe
big-num/sln/Omeganum/Omeganum.sln
big-num/sln/Omeganum/.vs/Omeganum/v17/Solution.VC.db
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/bd3e9760c2607a4/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/a7120b1d1fa9de0a/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/a712021d1fa9cebf/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/4f38885c5fd31ee8/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/4f38835c5fd31669/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/ipch/AutoPCH/29a3366351cadbf/OMEGANUM.ipch
big-num/sln/Omeganum/.vs/Omeganum/v17/DocumentLayout.json
big-num/sln/Omeganum/.vs/Omeganum/v17/DocumentLayout.backup.json
big-num/sln/Omeganum/.vs/Omeganum/v17/Browse.VC.db
big-num/sln/Omeganum/.vs/Omeganum/v17/.suo
big-num/sln/Omeganum/.vs/Omeganum/FileContentIndex/8e6d26f9-4e53-4aa8-a2c3-7702457436ce.vsidx
big-num/sln/Omeganum/.vs/Omeganum/FileContentIndex/860fc54f-dd62-4f50-8387-fae526b90b71.vsidx
big-num/sln/Omeganum/.vs/Omeganum/FileContentIndex/744c0913-bca3-47f1-81d9-0407eb05b62a.vsidx
big-num/omeganum.lua
big-num/omeganum.h
big-num/Omeganum.dll
big-num/lualib.h
big-num/luaconf.h
big-num/lua.h
big-num/load_comeganum.lua
big-num/lauxlib.h
big-num/build/Release/omeganum.o
big-num/build/Debug/omeganum.o
big-num/load_comeganum.lua
big-num/omeganum.lua
talisman.lua
big-num/load_comeganum.lua
big-num/omeganum.lua
